---
layout: default
title: Projects
---
<!--<script src="{{ base.url | prepend: site.url }}/assets/js/category_menu.js"></script>-->
<script src="/assets/js/category_menu.js"></script>
<h1>{{ page.title }}</h1>
<h3>Categories</h3>
<select style="width:100%;" class="h6" multiple id="select-categories-projects" >
    {% assign cats = site.projects | map: 'categories' | uniq  %}
    {% for cat in cats %}
        <option id="cat-{{cat}}" value="{{cat}}" onclick='onCategoryClicked("{{cat}}")'>{{cat}}</option>
    {% endfor %}
</select>
<br><br>
<h3>Projects</h3>
<div>
    <table style="table-layout: fixed">
        <tbody id="project-list-to-filter">
            <tr data-categories='["TITLE"]'>
                <th>Title</th>
                <th>Tags</th>
            </tr>

            {% assign projs = site.projects | sort: "date", "last" %}
            {% for project in projs %}
                <tr data-categories='{{project.categories | jsonify }}'>
                    <th><a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></th>
                    <th><span> {{project.categories | array_to_sentence_string}}</span></th>
                </tr>
            {% endfor %}
            <tr id="project-list-end" style="display:none">
                <td  colspan="2" class="listend" ><a>No projects found</a></td>
            </tr>
        </tbody>
    </table>
</div>
