{% assign domid = "vid-group" %}
{% if include.id %}
{% assign domid = include.id %}
{% endif %}

<div>
<iframe 
	style="display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:black"
	id="{{domid}}"
	width="420"
	height="315"
	frameborder="0" allowfullscreen></iframe>

<div style="overflow:auto; white-space: nowrap;">
{% for id in include.ids %}
{% assign vidid = id %}
{% if vidid contains '?' %}
{% assign vidid = id | split:'?' | first %}
{% endif %}
<img src="https://img.youtube.com/vi/{{vidid}}/2.jpg" onclick="console.log('{{id}}'); document.getElementById('{{domid}}').src = 'https://www.youtube.com/embed/{{id}}'"/>
{% endfor %}
</div>
</div>