<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/project.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div>
        <footer>
            <ul>
                <li><a href="https://github.com/HubbleCommand">github.com/HubbleCommand</a></li>
            </ul>
        </footer>
    </body>
</html>
