---
layout: default
---
<!-- Side navigation 
<div class="sidenav">
    {% for project in site.projects %}
        <a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a>
    {% endfor %}
</div>-->
  
<!-- Page content 
<div class="main">
    <h1>{{ page.title }}</h1>
    <a class="meta">{{ page.date | date_to_string }}</a>

    <div class="post">
        {{ content }}
    </div>
</div> -->


<h1>{{ page.title }}</h1>
<p class="meta tags">{{page.categories | array_to_sentence_string}}</p>
<p class="meta">
    {{ page.start-date }} 
    {% if page.end-date %}
        to {{ page.end-date }}
    {% endif %}
</p>
{% if page.last_modified_at %}
    <p class="meta tags">last modified {{page.last_modified_at}}</p>
{% endif %}

{{ content }}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}{{ content }}
