---
layout: default
---
<!-- Side navigation 
<div class="sidenav">
    {% for project in site.projects %}
        <a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a>
    {% endfor %}
    </div>
</div> -->


<h1>{{ page.title }}</h1>
<p class="meta">
    {{ page.start-date }} 
    {% if page.end-date %}
        to {{ page.end-date }}
    {% endif %}
</p>
{% if page.last_modified_at %}
    <p class="meta tags">last modified {{ page.last_modified_at | date_to_string }}</p>
{% endif %}

{% if page.icons %}
{% include /components/devicon.html icons=page.icons size=2 %}
{% endif %}

<br>
{% assign catsize = page.categories | size %}
{% if page.categories and catsize > 0 %}
  <small>tags: <em>{{ page.categories | join: "</em> - <em>" | downcase }}</em></small>
{% endif %}

<br><br>

{{ content }}
